@import "stylesheet.scss";

#galleryBanner {
  display: none;
  margin: 70px 0;

  img {
    width: 98.9vw;
    height: 42vw;
    margin: 0;
    padding: 0;
  }
}

.swiper {
  display: flex;
  justify-content: center;
  //   height: 50vh;
}

.swiper-slide {
  text-align: center;

  img {
    height: 100%;
    width: 100%;
  }
}

//Styles for specific slides

#signatureMeals {
  margin-bottom: 50px;
  margin-top: 80px;
  .swiper {
    height: 40vw; //so that it will resize as width gets smaller, therefore pereventing stretching
    width: 80%;
  }

  .swiper-slide {
    height: 40%;
  }
}

.secondaryGalleries {
  margin-bottom: 10px;

  .swiper {
    height: 20vw;
    padding-bottom: 40px;
    width: 80%;
  }
}
// .lastGallery {
//   margin-bottom: 20vh;
// }
