@import "stylesheet.scss";

// -------------MAIN PAGE

@media only screen and (min-width: 700px) {
  .nav-item {
    width: 45%;
  }
  .bannerText {
    line-height: 3.5rem;

    h1 {
      font-size: 4.4rem;
    }
  }

  .banner-carousel h2 {
    font-size: 2.2rem;
  }

  .food-carousel {
    padding: 50px 80px;
  }
  .carousel-item img {
    margin: auto;
    width: 350px;
    height: 350px;
  }

  .topPicks {
    .container {
      width: 80%;
    }
  }

  .menu-items {
    grid-template-columns: 33% 33% 33%;
  }

  .contacts a {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 992px) {
  .bannerText {
    margin-top: 3%;
    h1 {
      font-size: 6.4rem;
    }
  }

  .banner-carousel h2 {
    font-size: 2.4rem;
  }

  .galleryContainer {
    margin: -80px 10% 0px; //100-(47+47)
  }

  .menuButtons {
    font-size: 1rem;
  }

  .closeMenu {
    font-size: 1.2rem;
  }

  .contactContainter {
    margin: 0% 10%;
    padding: 5% 10%;
  }

  .embeddedMap {
    margin: 15% 10%;
  }

  .googleMap {
    width: 100%;
    height: 50vh;
  }
}

@media only screen and (min-width: 1200px) {
  .myNavBrand {
    font-size: 1.7rem;
  }
  .myNavLink {
    width: 100%;
    background-color: $white;
    color: $grey;
    margin-right: 7vw;
  }
  .myNavLink:hover {
    color: $dark-black;
  }

  .bannercta {
    margin: 5% 0 20% 0;
  }

  .food-carousel {
    //adding svg background
    display: grid;
    justify-content: center;
    align-items: center;

    width: 500px;
    height: 450px;
    background: url("../imgs/Asset\ 1.svg") no-repeat;
    background-size: auto;

    background-position: center;

    h2 {
      display: none;
      margin: -100px 0px 0 0;
      color: $dark-black;
      width: 100%;
    }
  }

  .carousel-item {
    background-color: transparent;
    padding: 0 50px;

    img {
      width: 280px;
      height: 280px;
    }
  }

  .banner-carousel {
    //positioning container with carousel
    position: relative;
    right: 100px;
    bottom: -30px;
  }

  .galleryContainer {
    margin: -80px 12% 0px; //100-(47+47)
  }
}

@media only screen and (min-width: 1400px) {
  .menuStyling {
    p {
      font-size: 1.1rem;
    }
    // .foodName {
    //   // font-size: 3rem;
    // }
  }

  .contactContainter {
    margin: 0% 15%;
  }
  .embeddedMap {
    margin: 15% 15%;
    border: 4px dashed $dark-black;
  }

  .googleMap {
    height: 70vh;
  }

  #footer {
    padding: 30px;
    font-size: 0.9rem;
  }
}
// ---------------GALLERY

@media only screen and (max-width: 699px) {
  .swiper {
    padding-bottom: 20px;
  }
  #signatureMeals .swiper {
    width: 80%;
    height: 80vw;
  }

  .secondaryGalleries {
    .swiper {
      height: 35vw;
    }
  }

  .topPicksSlider {
    padding-bottom: 40px;
  }
}
@media only screen and (max-width: 499px) {
  .secondaryGalleries {
    .swiper {
      height: 40vw;
    }
  }
}

@media only screen and (max-width: 299px) {
  #signatureMeals {
    .swiper {
      // width: 100%;
      height: 80vw;
      padding-bottom: 40px;
      margin: 0 15%;
    }
    .swiper-slide {
      height: 40%;
    }

    img {
      // height: 50%;
      width: 60%;
    }
  }
}
