$dark-black: #000;
$dark-orange: #e95231;
$white: #ffffff;
$grey: #5c636a;

html {
  scroll-behavior: smooth;
}

$roboto: "Roboto", sans-serif;
body {
  font-family: $roboto;
}

.btn {
  background-color: $dark-orange;
  color: white;
}

.headings {
  padding: 10% 0 5% 0;
  text-align: center;
}

.subheading {
  text-align: center;
  padding: 10px;
}

// Top contact bar
.contactTopBar {
  background-color: $dark-orange;
  font-weight: 500;
  width: 90%;
  text-align: center;
  border-radius: 0 0 60px 60px;
  display: flex;
  margin: auto;
  justify-content: space-around;
  padding-top: 6px;
  height: 40px;
}

.contactTopBar p {
  display: inline;
  color: $white;
}

// Nav

nav {
  margin-top: 3%;
  padding: 5% 2%;
}

.myNavBrand {
  font-size: 1.5rem;
  color: $dark-black;
  text-decoration: none;
}

.nav-item {
  margin: 0 auto 12px;
  width: 60%;
  font-size: 1.2rem;

  a {
    text-decoration: none;
  }
}
.myNavLink {
  width: 100%;
  background-color: $dark-orange;
  color: $white;
  border-radius: 15px;
}

// Banner

.bannerText {
  margin-top: 5%;
  line-height: 2.5rem;
  padding-left: 7vw;

  h1 {
    font-weight: 500;
    font-size: 3.5rem;
  }
}

.bannercta {
  margin: 5% 0 10% 0;
  padding: 10px 50px;
  font-size: 1.5rem;

  & a {
    color: white;
    text-decoration: none;
  }
}

// Banner Carousel

.banner .row {
  margin-right: 0px;
}
.banner-carousel {
  text-align: center;
  padding-right: 0;

  h2 {
    margin: 0% 0% 3%;
    font-weight: 500;
    font-size: 1.8rem;
    z-index: 2;
    color: $white;
  }
}

.food-carousel {
  width: 100%;
  padding: 10px;
  padding-top: 30px;
  background-color: $dark-black;
  // padding-top: 40px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.carousel-item img {
  margin: auto;
  width: 280px;
  height: 280px;
}

//Top Picks

.topPicks {
  background-color: $dark-black;
  padding: 0px 20px;

  .container {
    margin: 40px auto;
    padding-bottom: 100px;
  }
}

.topPicksSlider {
  padding-bottom: 50px;
  width: 100%;
  .swiper-wrapper .swiper-slide .card img {
    height: 250px;
    // background-color: red;
  }
}

.topPickName {
  color: $dark-black;
  padding: 20px 0;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}

.topPickPagination {
  .swiper-pagination-bullet {
    background-color: $grey;
    opacity: 1;
    height: 10px;
    width: 10px;
  }

  .swiper-pagination-bullet-active {
    background: $white;
    opacity: 1;
  }
}

// Mini Gallery

.galleryContainer {
  margin: -80px 5% 40px; //100-(47+47)

  padding: 0;
  display: grid;
  box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.36);
  grid-template-columns: 50% 50%;

  img {
    width: 100%;
    height: 100%;
    border: 2px solid white;
  }
}

// Menu

#menu {
  width: 100vw;
}

.menuCategories .pagination {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  line-height: 3;
}

.menuButtons {
  border: 1px solid $grey;
  padding: 10px 20px;
  border-radius: 50px;
  margin: 0 5px;
  font-size: 0.8rem;
  cursor: pointer;
}

.active {
  background-color: black;
  color: $white;
}

.page-link :hover {
  display: none;
}

.menu-items {
  margin: 0 5%;
  display: grid;
  justify-items: right;
  grid-template-columns: 50% 50%;
  text-align: center;

  .menuStyling {
    padding: 5% 5%;
    width: 100%;
    p {
      line-height: 1;
      word-wrap: break-word;
      word-break: break-all;
      max-width: 100%;
    }

    .foodName {
      font-weight: 500;
      font-size: 1.1rem;
    }

    .foodPrice {
      line-height: 0;
    }
  }

  .foodDescription {
    font-style: italic;
    font-size: 0.8rem;
  }
}

.closeMenu {
  display: flex;
  padding: 5px 20px;
  margin: 5% auto;
}

//Contact Page

.contactContainter {
  background-color: $dark-black;
  border-radius: 30px;
  margin: 0% 5%;
  padding: 8% 10%;

  .contacts {
    display: block;
    line-height: 1.5rem;
    margin-bottom: 15%;
    word-wrap: break-word;
    text-align: center;
    font-size: 1.2rem;
    color: white;

    a {
      color: $white;
      text-decoration: none;
    }

    .fas {
      color: white;
      padding-right: 10px;
    }
  }

  .contacts a:hover {
    color: $grey;
  }

  .addressContact {
    margin-bottom: 0%; //to exempt the padding bottom put on .contacts
  }
}

.embeddedMap {
  margin: 15% 6% 0 6%;
  border: 4px dashed $dark-black;
}

.googleMap {
  width: 100%;
  height: 35vh;
}

// Footer
#footer {
  margin-top: 15%;
  background-color: $dark-black;
  color: $white;
  padding: 20px;
  text-align: center;
  font-size: 0.7rem;
}

//----------------------ABOUT US-----------------

.aboutUsText {
  margin: 5vw 10vw;
}
