$black: #0000;
$dark-orange: #e95231;

$roboto: "Roboto", sans-serif;
body {
  font-family: $roboto;
}

// Top contact bar
.contactTopBar {
  background-color: $dark-orange;
  font-weight: 500;
  width: 50%;
  text-align: center;
  border-radius: 0 0 60px 60px;
  display: flex;
  justify-content: space-around;
  padding-top: 6px;
  height: 40px;
  display: sticky;
}

.contactTopBar p {
  display: inline;
}

// Nav

.nav-item {
  padding: 0 3rem;
  font-size: 1.1rem;
}

// Banner

.banner {
  margin: 6% 5%;
  display: grid;
  grid-template-columns: 40% 60%;
  // background-color: red;
  justify-items: flex-end;
}

.bannerText {
  line-height: 2rem;
  margin-left: 10px;
  // background-color: blue;
}

.bannercta {
  margin-top: 50px;
  padding: 10px 50px;
  font-size: 1.5rem;

  & a {
    color: white;
    text-decoration: none;
  }
}

// Banner Carousel

.banner-carousel {
  // background-color: green;
}
